body{
    background-color: azure;
}

.logo{
    font-size: 100%;
    color:blue;
}

.main_title{    
    font-size: 100%;
    color:red;
}

.second_title{
    font-size: 100%;
    color:blue;
}

.text{
    color:black;
    border-style: solid; /* вид рамки */
    border-width: 1px; /* толщина рамки */
    
    padding: 0px; /* расстояние от рамки до текста */
    background: azure;
  
    border-radius: 10px;
  
    font-size: 90%;
}

.header{
    background: linear-gradient(orange, chocolate);
    color: red; 
    font-size: 30px;  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 10px;
  }

.subscribe{    
    font-size: 100%;
    color:red;
}

.line{
    border: 1px solid rgb(207, 34, 34)
}